<% title("Free Online Promo Codes By Store") %>
<% meta_tag('keywords', "store, retailers, coupons, discounts, Promotional Codes, Promo Codes, Coupon Codes, Online Coupons") %>
<% meta_tag('description', "Find free promo codes and online discount codes by store!") %>
<% canonical(stores_path) %>
<div class="row main-content">
	<div class="eight columns">
	<div class="red-banner"> 
		<h1>Promo Codes by Stores</h1>
	</div>

	<ul class="single-coupon">
		<% @stores.each do |store| %>
		<li><%= link_to store.name, store_path(store) %></li>
		<% end %>
	</ul>
	<%= will_paginate @stores %>
	</div>

		<div class="four columns right-side-bar">
			<%= render partial: 'shared/sidebar' %>
		</div>
</div>