<div class="row main-content">
	<div class="eight columns">
	<div class="red-banner"> 
		<h1>Promo Codes by Stores</h1>
	</div>

	<ul class="single-coupon">
		<% @stores.each do |store| %>
		<li><%= link_to store.name, store_path(store) %></li>
		<% end %>
	</ul>
	<%= will_paginate @stores %>
	</div>

		<div class="four columns right-side-bar">
			<%= render partial: 'shared/sidebar' %>
		</div>
</div>