
<div class="side-bar-element">
	<h2 class="sidebar-header">Download our Extension!</h2>
		<p>Get our Chrome Extension for the easiest way to save online! With the click of a button get coupons directly in your browser.       
         <button class="button-primary" type="submit" onclick="window.location.href = 'https://chrome.google.com/webstore/detail/jmpshp-comparison-shoppin/immfhcnfbbkmalfgmdhgmfgfmffbegbf';" target="blank" rel="nofollow">Download!</button>
		
		</p>
</div> 