
<div class="side-bar-element">
	<h2 class="sidebar-header">Download our Extension!</h2>
		<p>Get our Chrome Extension for the easiest way to save online! With the click of a button get coupons directly in your browser.       
         <button class="button-primary extension-download">Download!</button>
		
		</p>
</div> 