<div class="email-signup">
	<h3>Get Our Newsletter</h3>
	<form id="email-signup">
		<input type="text" placeholder="joan.smith@gmail.com">
		<input class="button-primary" type="submit" value="OK">
	</form>
	<div>
		<p><%= image_tag("mailbox.png", :class => 'mailbox-image') %>Our most popular coupons sent directly to your inbox!</p>
	</div>
</div>