<div class="email-signup">
	<h3>Get Our Newsletter</h3>
<%= form_for @subscriber, :remote => true do |f| %>
	<%= f.text_field :email, :required => true, placeholder: "joan.smith@gmail.com" %>
	<%= f.submit "OK" , :class => 'button-primary' %>
	<% end %>
	<div>
		<p><%= image_tag("mailbox.png", :class => 'mailbox-image') %>Our most popular coupons sent directly to your inbox!</p>
	</div>
</div>