	<header>
		
		<div class="row">
			<div class="four columns">
			<span id="logo"><%= link_to image_tag("logo.png", :class => 'logo'), root_path %></span>
			</div>
				
			<div class="eight columns">
				<form id="search-bar" action="search" method="get">
					<input type="text" placeholder="Walmart" name="search_term">
					<input class="button-primary" type="submit" value="Search">
				</form>
			</div>
		</div>

		<div class="row" id="blue-banner">
			<div class="twelve columns">
				<h3>Use <span class="highlight">thousands</span> of free <span class="highlight">promo codes</span> and <span class="highlight">coupon codes</span> at GoPromoCodes.com for <span class="highlight">savings</span> when shopping online.</h3>
			</div>
		</div>
		<div class="row" id="top-menu">
			<div class="two columns menu-item"><%= link_to "Home", root_path %></div>
			<div class="three columns menu-item"><a href="">Grocery Coupons</a></div>
			<div class="two columns menu-item"><%= link_to "All Stores", stores_path %></div>
			<div class="three columns menu-item"><%= link_to "All Categories", categories_path %></div>
			<div class="two columns menu-item"><a href="">Newest Codes</a></div>
		</div>
		
	</header>