	<header>
		
		<div class="row">
			<div class="four columns">
			<span id="logo"><%= link_to image_tag("logo.png", :class => 'logo'), root_path %></span>
			</div>
				
			<div class="eight columns">
				<form id="search-bar">
					<input type="text" value="Search for Promo Codes by Store ex: "Sears"">
					<input class="button-primary" type="submit" value="search">
				</form>
			</div>
		</div>
		
		

		<div class="row" id="blue-banner">
			<div class="twelve columns">
				<h3>Use <span class="highlight">thousands</span> of free <span class="highlight">promo codes</span> and <span class="highlight">coupon codes</span> at GoPromoCodes.com for <span class="highlight">savings</span> when shopping online.</h3>
			</div>
		</div>
		<div id="top-menu">
			<ul>
				<li>Home</li>
				<li>Blog</li>
				<li>Grocery Coupons</li>
				<li>All Stores</li>
				<li>All Categories</li>
				<li>Newest Codes</li>
				<li>About</li>
				<li>Contact</li>
			</ul>
		</div>
		
	</header>