
<div class="side-bar-element">
	<h2 class="sidebar-header">Welcome to GoPromoCodes!</h2>
	<% if current_user %>
		<p>Welcome back <%= current_user.username %>!<br><%= link_to "Sign Out", signout_path %></p>
	<% else %>
	<p>
		<%= link_to "Register", new_user_path %> /
		<%= link_to "Login", signin_path %>
	</p>
	<% end %>
</div> 