<div class="row main-content">
	<div class="eight columns coupon-list">
		<div class="red-banner">
			<h1>Informative Articles</h1>
		</div>
		 <ul class="article-list">
      <li><a href="http://www.gopromocodes.com/new-years-traditions" title="New Year's Traditions Around the World">New Year's Traditions Around the World</a></li>
      <li><a href="http://www.gopromocodes.com/buying-fair-trade" title="A Guide to Buying Fair Trade">A Guide to Buying Fair Trade</a></li>
      <li><a href="http://www.gopromocodes.com/gardening-tips-and-resources" title="Gardening Tips and Resources">Gardening Tips and Resources</a></li>
      <li><a href="http://www.gopromocodes.com/online-learning-games" title="Online Learning Games">Online Learning Games</a></li>
      <li><a href="http://www.gopromocodes.com/clip-art-resources" title="Free Clip Art Resources">Free Clip Art Resources</a></li>
			<li> <a href="http://www.gopromocodes.com/advancements-in-home-entertainment-healthier-lives" title="advancements in home entertainment lead to healthier lives">Advancements in Home Entertainment Healthier Lives</a></li>
			<li> <a href="http://www.gopromocodes.com/how-cell-phones-are-changing-our-lives" title="how cell phones are changing our lives">How Cell Phones Are Changing Our Lives</a></li>
			<li> <a href="http://www.gopromocodes.com/p/three-online-money-saving-strategies.html" title="three online money saving strategies">Three Online Money Saving Strategies</a></li>
			<li> <a href="http://www.gopromocodes.com/photography-resources" title="photography resources">Photography Resources</a></li>
			<li> <a href="http://www.gopromocodes.com/keyboarding-resources-for-your-computer" title="keyboarding resources for your computer">Keyboarding Resources for Your Computer</a></li>
			<li> <a href="http://www.gopromocodes.com/classic-books-on-sat-reading-list" title="classic books on SAT reading list">Classic Books on SAT Reading List</a></li>
    </ul>
	</div>
	<div class="four columns right-side-bar">
		<%= render partial: 'shared/sidebar' %>
	</div>
</div>