<div class="row main-content">
	<div class="eight columns coupon-list">
		<h2>Assorted &amp; Themed Clip Art Resources</h2>

						<p>Let’s face it, not all of us have the most amazing artistic talents. However, we still always need images to help illustrate everything from projects, assignments, reports, and websites, to presentations. Since so many people are in need of images, there is actually a solution: clip art! Clip art are small illustrations that can be inserted into a document. While some artists require payment for their images, there are also countless others who make their illustrations free for public use. Even though it is free, it is still considered a general courtesy to give the artist a credit alongside the image, if the artist’s name is available. An example would be, “Image by John Smith”, with perhaps a link to their website. The resources below offer free images for non-commercial use.</p>

						<p><a href="http://etc.usf.edu/clipart/" target="_blank">Themed Clip Art</a></p>

						<p><em>Find alphabetically-sorted clip art collections for all subjects.</em></p>

						<p>
							<a href="http://tell.fll.purdue.edu/JapanProj/FLClipart/" target="_blank">Clip Art Resources</a>
						</p>

						<p><em>This page lists several resources for finding free clip art collections online.</em></p>

						<p><a href="http://openclipart.org/" target="_blank">Open Clip Art Library</a></p>

						<p>
							<em>At this site, users can download free clip art and also upload their own contributions.</em>
						</p>

						<p>
							<a href="http://www.shsu.edu/~lis_mah/documents/clipartportal.html" target="_blank">Clip Art by Students</a>
						</p>

						<p>
							<em>All of the clip art here is created by K-12 students for use by other school students.</em>
						</p>

						<p>
							<a href="http://webtech.kennesaw.edu/jcheek3/graphics.htm#clipart" target="_blank">Backgrounds and Clip Art</a>
						</p>

						<p><em>Use this resource list to find clip art collections from various sources.</em></p>

						<p><a href="http://www.ibiblio.org/gio/iconbrowser/" target="_blank">Computer Icons</a></p>

						<p><em>Find a variety of old-style computer icons here.</em></p>

						<p><a href="http://socsci.colorado.edu/GIF/" target="_blank">Icons and Images</a></p>

						<p><em>Most of the clip art here is helpful for use in websites and online presentations.</em>
						</p>

						<p><a href="http://www.shc.edu/theolibrary/artclip.htm" target="_blank">Religious Clip Art</a>
						</p>

						<p>
							<em>These clip art resources will be helpful for Sunday school projects and other religious-themed assignments.</em>
						</p>

						<p><a href="http://hcmc.uvic.ca/clipart/" target="_blank">Assorted Clip Art</a></p>

						<p>
							<em>This enormous database of clip art features themed collections of illustrations in many different styles. </em>
						</p>

						<p>
							<a href="http://conval.edu/schools/gbs/library-technology-1/library/copyright-friendly-images-clipart" target="_blank">Copyright Friendly Clip Art</a>
						</p>

						<p>
							<em>Students can find a host of helpful resources for clip art that can be used for free.</em>
						</p>

						<p>
							<a href="http://www.ankn.uaf.edu/publications/clipart/index.html" target="_blank">Alaska Clip Art</a>
						</p>

						<p><em>This unique collection contains numerous illustrations of Alaskan life and culture.</em>
						</p>

						<p><a href="http://www.clipart.dk.co.uk/" target="_blank">DK Clip Art</a></p>

						<p>
							<em>Dorling Kindersley, the award-winning publishers of educational books, have a large online clip art database with excellent quality images.</em>
						</p>

						<p>
							<a href="http://www.uth.tmc.edu/scriptorium/clipart.html" target="_blank">Biology Clip Art</a>
						</p>

						<p><em>Use the images in this collection for projects on health and the human body.</em></p>

						<p>
							<a href="http://rtdc.tjc.edu/fishing/clipart/index.htm" target="_blank">Fly Fishing Clip Art</a>
						</p>

						<p><em>Browse through a very specific series of fly-fishing images.</em></p>

						<p>
							<a href="http://www-users.cs.umn.edu/~tu/collection/Clip04.htm" target="_blank">Cartoon Characters and More</a>
						</p>

						<p>
							<em>This small collection includes popular cartoon characters, along with a selection of buttons, banners, and bullets.</em>
						</p>

						<p><a href="http://www.jach.hawaii.edu/~hps/clipart/" target="_blank">JAC Clip Art Archive</a>
						</p>

						<p><em>Sort through a number of different clip art themes, from animals to technology.</em></p>

						<p>
							<a href="http://dpw.lacounty.gov/epd/hhw/illustration.cfm" target="_blank">Hazardous Waste Materials</a>
						</p>

						<p><em>Use these smart icons for a project about home safety and hazardous waste.</em></p>

						<p>
							<a href="http://srufaculty.sru.edu/david.dailey/public/public_domain.htm" target="_blank">Public Domain Images</a>
						</p>

						<p>
							<em>These beautiful ink sketches are public domain images from a long time ago. They include antique technology and machines, animals, and more. </em>
						</p>

						<p>
							<a href="http://www.maine.gov/spo/recycle/clipart/index.htm" target="_blank">Recycling Clip Art</a>
						</p>

						<p><em>Try out these recycling images in a project on pollution and eco-friendly methods.</em>
						</p>

						<p>
							<a href="http://water.epa.gov/type/watersheds/outreach/outpixnonjs.cfm" target="_blank">Watershed Clip Art</a>
						</p>

						<p>
							<em>For an assignment on watersheds and related natural habitats, have a look at these fun, quirky images</em>.
						</p>

						<p>
							<a href="http://fairhaven.edu/fh/Member's%20Area/Clip%20Art/French%20Clip%20Art/" target="_blank">Paris Clip Art</a>
						</p>

						<p><em>Perk up a French class project with some nostalgic pictures of Paris and France.</em></p>

						<p>
							<a href="http://acme.highpoint.edu/~jbowser/NCATE/Porter/backgrounds/school%20art.htm" target="_blank">Back to School Clip Art</a>
						</p>

						<p><em>Students can use these colorful graphics for free with an artist credit line.</em></p>

						<p>
							<a href="http://www2.asd.wednet.edu/pioneer/barnard/resources/clart/index.htm" target="_blank">Colorful Clip Art</a>
						</p>

						<p><em>The clip art in this collection is mostly in a colorful, cartoon style. </em></p>

						<p>
							<a href="http://www.teachers.cr.k12.de.us/~galgano/crayfish.htm" target="_blank">Underwater Creatures</a>
						</p>

						<p>
							<em>Any project on marine biology will come to life with this vivid selection of underwater sea creature illustration.</em>
						</p>

						<p>
							<a href="http://middle.usm.k12.wi.us/faculty/montagne/computer_skills/psp_image_gallery/clip_art_home.htm" target="_blank">Animated Clip Art</a>
						</p>

						<p><em>These animated creations can easily be used in student websites or presentations.</em>
						</p>

						<p>
							<a href="http://www.schoolicons.com/eng/index/attention.html" target="_blank">School Icons</a>
						</p>

						<p><em>These cute icons and graphics are free to use with a link back to the site.</em></p>

						<p>
							<a href="http://www.rcps.org/mch/TeacherPages/Patterson/graphics/Kari's%20Graphics%20Original%20Country%20Graphics%20and%20Clipart_%20Linkware%20and%20Collections,%20Blog%20Graphics%20and%20Stamp%20swap%20graphics.htm" target="_blank">Kari’s Clip Art</a>
						</p>

						<p>
							<em>Decorate a project or art creation with seasonal images of illustrated animals and more.</em>
						</p>

						<p>
							<a href="http://www.au.af.mil/au/awc/awcgate/clip_af.htm" target="_blank">Air Force Clip Art</a>
						</p>

						<p>
							<em>In this online bank of images, students will find illustrations of different airplanes and satellites.</em>
						</p>

						<p><a href="http://watersafety.usace.army.mil/clipart.htm" target="_blank">Water Safety</a></p>

						<p><em>Brush up on water safety techniques and tools with these helpful icons.</em></p>

						<p>
							<a href="http://www.calrecycle.ca.gov/Gallery/WastePrev/" target="_blank">Recycling and Waste Prevention</a>
						</p>

						<p>
							<em>Illustrate projects cutting down waste with an in-depth selection of images from composting to recycling.</em>
						</p>

						<p>
							<a href="http://clean-water.uwex.edu/pubs/clipart/index.htm" target="_blank">Water Resources</a>
						</p>

						<p><em>These images focus on themes of water habitat conservation and reducing water usage.</em>
						</p>

						<p>
							<a href="http://www.williamstwp.com/downloads/flags1a.htm" target="_blank">Patriotic Clip Art</a>
						</p>

						<p>
							<em>Use these patriotic images for projects about Independence Day or the U.S. in general.</em>
						</p>

						<p>
							<a href="http://www.fws.gov/r9extaff/drawings/drawing.html" target="_blank">Wildlife Line Drawings</a>
						</p>

						<p>
							<em>The government’s Fish and Wildlife Service has a large number of realistic black and white line drawings of various birds and animals available for students online.</em>
						</p>

						<p><a href="http://glendamoore.org/holiday.htm" target="_blank">Holiday Clip Art</a></p>

						<p>
							<em>Get festive with these special holiday-themed images including Valentine’s Day, Thanksgiving, and several more.</em>
						</p>

						<p><a href="http://visibleearth.nasa.gov/" target="_blank">NASA Images</a></p>

						<p>
							<em>NASA uses high-tech equipment to capture stunning images of outer space, and they make a lot of it free for use!</em>
						</p>

						<p><a href="http://www.nacdnet.org/education/clipart/" target="_blank">Conservation Clip Art</a>
						</p>

						<p><em>Add some punch to your projects with a host of lively characters and animals.</em></p>

						<p>
							<a href="http://www.gentle.org/coppermine/cat=4.html" target="_blank">Religious and Christmas Images</a>
						</p>

						<p>
							<em>This collection includes images about prayer, the Bible, Christmas, and other similar themes.</em>
						</p>

						<p>
							<a href="http://www.ltisdschools.org/site/Default.aspx?PageID=461" target="_blank">Halloween Clip Art</a>
						</p>

						<p>
							<em>There are pumpkins, ghouls, witches and spiders galore on this page of creepy clip art.</em>
						</p>

						<p>
							<a href="http://collegeparkcovenant.org/picsnbzf/clipart-easter-pictures" target="_blank">Easter Clip Art</a>
						</p>

						<p>
							<em>Students will find plenty of bunnies and colorful eggs here to use on a special Easter-themed project.</em><p><a href="http://www.gopromocodes.com/stores/travelocity">Travelocity Coupons &amp; Promo Codes</a></p>
<p><em>Free Travelocity.com discount codes and coupons are a great way to travel to the places you love at lower prices.</em></p>
<p><a href="http://www.gopromocodes.com/stores/straighttalk">Straight Talk Discount Codes &amp; Online Savings</a></p>
<p><em>GoPromoCodes.com offers free coupon codes and savings through promotional codes for your mobile needs through Straight Talk Wireless.</em>
<br><br>
By: <a href="http://www.gopromocodes.com/p/author-biography-zoe-stauss" rel="author">Zoe Stauss</a>
						</p>

						<div class="online-offers"><table><tbody><tr><th>Online Promo Codes</th><th>Online Coupon Codes</th><th>Online Discounts and Offers</th></tr><tr><td><ul><li><a href="http://www.gopromocodes.com/stores/tomtom">tomtom promo code</a></li><li><a href="http://www.gopromocodes.com/stores/sears">sears promo code</a></li><li><a href="http://www.gopromocodes.com/stores/footballfanatics">football fanatics promo code</a></li><li><a href="http://www.gopromocodes.com/stores/gifttree">gift tree promo codes</a></li><li><a href="http://www.gopromocodes.com/stores/perfume-com">perfume.com promotional code</a></li><li><a href="http://www.gopromocodes.com/stores/nautica">nautica promotional code</a></li><li><a href="http://www.gopromocodes.com/stores/sportsauthority">promotional codes for sports authority</a></li></ul></td><td><ul><li><a href="http://www.gopromocodes.com/stores/plndr">plndr promotional codes</a></li><li><a href="http://www.gopromocodes.com/stores/ftd">ftd coupons</a></li><li><a href="http://www.gopromocodes.com/stores/jerrysartarama">coupon jerrys artarama</a></li><li><a href="http://www.gopromocodes.com/stores/overtons">overtons promotional code</a></li><li><a href="http://www.gopromocodes.com/stores/hotels-com">hotels.com promotional code</a></li><li><a href="http://www.gopromocodes.com/stores/straighttalk">straighttalk promo codes</a></li><li><a href="http://www.gopromocodes.com/stores/teleflora">teleflora codes</a></li></ul></td><td><ul><li><a href="http://www.gopromocodes.com/stores/thenorthface">northface promotion code</a></li><li><a href="http://www.gopromocodes.com/category/airline">airfare discount</a></li><li><a href="http://www.gopromocodes.com/stores/metalmulisha">metal mulisha discount codes</a></li><li><a href="http://www.gopromocodes.com/stores/designershoewarehouse">dsw promo</a></li><li><a href="http://www.gopromocodes.com/stores/coach">promo codes for coach</a></li><li><a href="http://www.gopromocodes.com/stores/promgirl">promotional codes for promgirl</a></li><li><a href="http://www.gopromocodes.com/stores/adamandeve">adam and eve code</a></li></ul></td></tr></tbody></table></div>
	</div>
	<div class="four columns right-side-bar">
		<%= render partial: 'shared/sidebar' %>
	</div>
</div>