<div class="row main-content">
	<div class="eight columns coupon-list">
		<h1>Contact GoPromoCodes</h1>
	</div>
		<div class="four columns right-side-bar">
		<%= render partial: 'shared/top_stores', locals: {
			top_stores: @top_stores 
		} %>	
		<%= render partial: 'shared/email_signup' %>
		<%= render partial: 'shared/categories', locals: {
			categories: @categories 
		} %>
	</div>
</div>