<div class="row main-content">
	<div class="eight columns coupon-list">
<h2>A Consumer&rsquo;s Guide to Fair Trade: Defining the Movement and Benefits</h2>

						<p>Fair Trade is a form of alternative trade culture that has existed in modern form since 1946. It is an anti-poverty movement that bases its actions on the motto of “trade, not aid”. The concept of Fair Trade is based on the belief that economic justice can be achieved by creating an economy based on eco-friendliness, fair prices, humane work conditions, and sustainable manufacturing practices. To be called Fair Trade, products and producers have to be certified by one of a number of Fair Trade certification organizations. Products that are Fair Trade certified bear Fair Trade certification logos on their packaging.</p>

						<p><b><br/></b></p>

						<h3><b>Definition & Structure of the Fair Trade Movement</b></h3>

						<p>The Fair Trade movement is dedicated toward helping consumers and producers of goods participate in a system of trade that is in the best interest of those involved. They do this by ensuring that farm workers, jewelry-makers, and those who make other non-food items, enjoy a healthy work environment. To this end, the movement also seeks to enforce proscriptions against child labor and all forms of slavery. Fair Trade also strives to achieve fair prices for goods by means of a price floor, in order to support decent wages for the workers who make the goods. These price floors are also designed to support technological and infrastructure development to improve the workers' standard of living. Farmers must also work cooperatively, in a democratic environment where the workers have a say in the way the business is run.</p>

						<p>To make certain that these principles are adhered to, Fair Trade certification organizations visit farmers and producers of goods to audit them. They establish the proper price floors and ensure that goods are being sold at those prices. In addition, they look at working conditions, the pay that the workers receive, the money invested in improvements, and other factors, before deciding whether to renew or grant the organization their Free Trade certification. Many organizations also audit the environmental aspect of production, by measuring the ecological impact of the making of food or goods in question.</p>

						<p>Organic certification is a concept that pertains to the impact of farming methods on the environment. Farmers that are organic certified do not use synthetic pesticides or other harmful chemicals. Organic certification doesn't address the issue of supply chains, work environments, child labor, or wages. Fair Trade, however, has evolved to encompass both fair trade and eco-friendly principles. The World Trade Federation, for instance, lists protecting the environment as one of its “Ten Principles of Fair Trade.” Fair Trade certified producers are often encouraged to become organic certified as well. Almost half of all farmers who are certified as Fair Trade are also officially certified as organic farmers.</p>
						<ul class="article-list">
							<li>
								<a href="http://www.fta.org.au/about-fairtrade/faqs" target="_blank">FAQs: What is Fair Trade?</a>
							</li>
							<li>
								<a href="http://www.fairtradeprinciples.org/" target="_blank">9 Fair Trade Principles</a>
							</li>
							<li>
								<a href="http://matrix.scranton.edu/student-clubs/fair-trade/what-is-fair-trade.shtml" target="_blank">University of Scranton: What is Fair Trade?</a>
							</li>
							<li>
								<a href="http://www.vanderbilt.edu/sustainvu/what-we-do/dining/fair-trade/" target="_blank">Fair Trade - What is Fair Trade?</a>
							</li>
							<li>
								<a href="http://www.fairtrade.org.uk/what_is_fairtrade/faqs.aspx" target="_blank">FAQ: Fair Trade in General</a>
							</li>
							<li>
								<a href="https://www.mtholyoke.edu/courses/sgabriel/FairTrade/how.htm" target="_blank">How Does Fair Trade Work?</a>
							</li>
							<li>
								<a href="http://www.tradeaid.org.nz/index.php/page/wfto" target="_blank">Trade Aid: The Key Principles of Fair Trade</a>
							</li>
							<li>
								<a href="https://www.molamola.ca/fair-trade-defined" target="_blank">Mola Mola: Fair Trade Defined</a>
							</li>
							<li>
								<a href="http://www.ecomall.com/greenshopping/fairtradecoffee.htm" target="_blank">Certified Organic Vs. Fair Trade Certified</a>
							</li>
						</ul>
						<p><b><br/></b></p>

						<h3><b>Benefits of Buying Fair Trade</b></h3>

						<p>Buying Fair Trade food and goods brings benefits for both producers and consumers alike. For producers it means a better standard of living, and for children in affected regions it means an end to child labor. Fair Trade also helps workers receive higher wages for their work, and it proscribes slavery. Consumers also benefit because Fair Trade goods are of a better quality and Fair Trade food is free of harmful chemicals such as pesticides.</p>
						<ul class="article-list">
							<li>
								<a href="http://www.fairtrade.net/benefits_of_fairtrade.html" target="_blank">Fair Trade International: Benefits of Fair Trade</a>
							</li>
							<li>
								<a href="http://www.fairtradeafrica.net/about-fairtrade/benefits-of-fairtrade-for-producers/" target="_blank">Fair Trade Africa - Benefits of Fair Trade</a>
							</li>
							<li>
								<a href="http://www.aae.wisc.edu/events/papers/DeptSem/2010/mcintosh.03.01.pdf" target="_blank">University of Wisconsin-Madison - Fair Trade and Free Entry: Generating Benefits in a Disequilibrium Market</a> (PDF)
							</li>
							<li>
								<a href="http://www.globalgoodspartners.org/index.cfm/the-impact-of-your-purchase" target="_blank">Global Goods Partners: Impact of Your Purchase</a>
							</li>
							<li>
								<a href="http://www.thedailygreen.com/going-green/tips/organic-coffee" target="_blank">The Daily Green: Your Morning Cup Can Have a Global Impact</a>
							</li>
							<li>
								<a href="http://welcome2.libarts.colostate.edu/centers/cfat/wp-content/uploads/2009/09/One-Cup-at-a-Time.pdf" target="_blank">Poverty Alleviation and Fair Trade in Latin America</a> (PDF)
							</li>
						</ul>
						<h3><b><br/></b></h3>

						<h3><b>Product Certification</b></h3>

						<p>The process of certifying a product as Fair Trade starts at the beginning of the supply chain. A certification organization such as FLO-CERT will visit the farm in question, or premises where crafted goods are made, and audit the working conditions there. They also verify that there is no discrimination, child labor or slavery involved in the production process. Then they will look at the wages paid to the workers, and the prices charged by the farmers, to ensure that they obey the price floor set by the certifying organization. This price floor includes a ten percent price premium that is intended to support the business. Some organizations like TransFair USA will also check to make sure that agricultural chemicals are not overused. Eco-Social/IBD is an organization that only certifies agricultural products that are worthy of both Fair Trade and organic certification. Each certification organization has its own label that it grants producers and their goods.</p>
						<ul class="article-list">
							<li>
								<a href="http://www.fairtradeusa.org/certification" target="_blank">Fair Trade USA: Certification & Your Business</a>
							</li>
							<li>
								<a href="http://www.inc.com/guides/201101/how-to-obtain-fair-trade-certification.html" target="_blank">Inc: How to Obtain Fair Trade Certification</a>
							</li>
							<li>
								<a href="http://www.ibd.com.br/en/EcoSocialIbd.aspx" target="_blank">Eco-Social: IBD Certifications</a>
							</li>
							<li>
								<a href="https://www.msu.edu/~realfood/fairtrade101.pdf" target="_blank">Michigan State University: What is Fair Trade Certification?</a> (PDF)
							</li>
							<li>
								<a href="http://www.fairforlife.net/logicio/pmws/indexDOM.php?client_id=fairforlife&page_id=system&lang_iso639=en" target="_blank">IMO / Fair for Life: Certification System</a>
							</li>
						</ul>
						<h3><b><br/></b></h3>

						<h3><b>Organizations Involved in Fair Trade</b></h3>

						<p>There are a variety of organizations that participate in the Fair Trade movement. The first groups were Ten Thousand Villages and SERRV International, which began in the United States, and Oxfam International, which started in England. The major organizations currently involved in Fair Trade include the original three, plus the World Fair Trade Organization, Global Exchange, the European Fair Trade Association, and Fair Trade USA. Fair Trade certification entities are also a critically important part of the movement, and they include FLO-CERT, Eco-Social/IBD and Fair Trade International.</p>
						<ul class="article-list">
							<li><a href="http://fairtradefederation.org/" target="_blank">The Fair Trade Federation</a>
							</li>
							<li><a href="http://www.tenthousandvillages.com/" target="_blank">Ten Thousand Villages</a>
							</li>
							<li><a href="http://www.wfto.com/" target="_blank">World Fair Trade Organization</a></li>
							<li>
								<a href="http://www.globalexchange.org/programs/fairtrade" target="_blank">Global Exchange</a>
							</li>
							<li><a href="http://www.flo-cert.net/flo-cert/" target="_blank">FLO-CERT</a></li>
							<li>
								<a href="http://www.oxfam.org/en/about/issues/trade" target="_blank">Oxfam International</a>
							</li>
							<li>
								<a href="http://www.crsfairtrade.org/" target="_blank">Catholic Relief Services Fair Trade</a>
							</li>
							<li>
								<a href="http://www.projecthopeandfairness.org/cm/Home.html" target="_blank">Project Hope and Fairness</a>
							</li>
							<li><a href="http://www.ftrn.org/" target="_blank">Fair Trade Resource Network</a></li>
							<li><a href="http://www.serrv.org/category/about-us" target="_blank">SERRV International</a>
							</li>
							<li>
								<a href="http://www.european-fair-trade-association.org/" target="_blank">European Fair Trade Association</a>
							</li>
						</ul>
						<p><b><br/></b></p>

						<h3><b>How to Find Fair Trade Items</b></h3>

						<p>Finding Fair Trade foods and crafted goods has become much easier with the arrival and evolution of the Internet. Many grocery store chains offer Fair Trade sections within their stores, and merchants dedicated to Fair Trade goods can be found online. When shopping online or at a store, finding Fair Trade products is as simple as looking for goods bearing Fair Trade labels. The Fair Trade Resource Network is one resource that offers information on which labels to look for.</p>
						<ul class="article-list">
							<li>
								<a href="http://www.fairtraderesource.org/learn-up/identifying-fair-trade-products/" target="_blank">Identifying Fair Trade Products</a>
							</li>
							<li>
								<a href="http://fairtrade.ca/en/fair_trade_finder" target="_blank">Fair Trade Canada: Fair Trade Finder</a>
							</li>
							<li>
								<a href="http://life.gaiam.com/article/5-fair-trade-faqs-buying-guide" target="_blank">Gaiam: 5 Fair Trade FAQs + Buying Guide</a>
							</li>
							<li>
								<a href="http://www.greenamerica.org/programs/fairtrade/products/wheretobuy.cfm" target="_blank">Green America: Fair Trade Retailers</a>
							</li>
						</ul>
						<p><b><br/></b></p>

						<h3><b>Additional Resources</b></h3>
						<ul class="article-list">
							<li>
								<a href="http://ohiofairtrade.com/what-is-fair-trade/history-of-fair-trade/" target="_blank">Ohio Fair Trade Network: History of Fair Trade</a>
							</li>
							<li>
								<a href="http://www.globalhealingcenter.com/natural-health/fair-trade-coffee/" target="_blank">Global Healing Center: Why You Should Buy Organic, Fair-Trade Coffee</a>
							</li>
							<li>
								<a href="http://www.equalexchange.coop/fair-trade" target="_blank">Equal Exchange: Fair Trade</a>
							</li>
							<li>
								<a href="http://fairworldproject.org/overview/history/" target="_blank">Fair World Project: Fair Trade History</a>
							</li>
							<li>
								<a href="http://www.fairtraderesource.org/change-the-world/advocate-for-fair-trade/" target="_blank">Fair Trade Resource: How to Take Action</a>
							</li>
							<li>
								<a href="http://www.wftday.com/index.php/en/wftd-2012/call-for-entries/40-find/63-how-to-celebrate-wftday-ideas" target="_blank">World Fair Trade Day</a>
							</li>
							<li>
								<a href="http://www.planusa.org/contentmgr/showdetails.php/id/860792" target="_blank">Plan Internatonal: Fair Trade Campaign – How Can You Get Involved?</a>
							</li>
							<li>
								<a href="http://partnersforjusttrade.org/ht/d/sp/i/445/pid/445" target="_blank">Partners For Just Trade: 10 Ways To Get Involved</a>
							</li>

<li><a href="http://www.gopromocodes.com/stores/travelocity">Travel to Countries Around the World for Less with Discounted Prices Using Free Promotional and Online Coupon Codes</a></li>
<li><a href="http://www.gopromocodes.com/stores/zappos">Free Promo Codes and Discount Deals for Zappos</a></li>
						</ul>

<br><br>
By: <a href="http://www.gopromocodes.com/p/author-biography-zoe-stauss" rel="author">Zoe Stauss</a>

<div class="online-offers"><table><tbody><tr><th>Online Promo Codes</th><th>Online Coupon Codes</th><th>Online Discounts and Offers</th></tr><tr><td><ul><li><a href="http://www.gopromocodes.com/stores/athleta">athleta promotional codes</a></li><li><a href="http://www.gopromocodes.com/stores/avanquest">avanquest promotional codes online</a></li><li><a href="http://www.gopromocodes.com/stores/fansedge">promo codes for fansedge</a></li><li><a href="http://www.gopromocodes.com/stores/vistaprint">vistaprint promo code</a></li><li><a href="http://www.gopromocodes.com/stores/sodaclub">sodastream promotional code</a></li><li><a href="http://www.gopromocodes.com/stores/proflowers">proflowers promotional codes</a></li><li><a href="http://www.gopromocodes.com/stores/sharisberries">sharis berries radio code</a></li></ul></td><td><ul><li><a href="http://www.gopromocodes.com/stores/avast">avast coupon</a></li><li><a href="http://www.gopromocodes.com/stores/maurices">maurices discount codes</a></li><li><a href="http://www.gopromocodes.com/stores/ashleymadison">ashley madison coupon</a></li><li><a href="http://www.gopromocodes.com/stores/bananarepublic">banana republic promo code</a></li><li><a href="http://www.gopromocodes.com/">promo codes and coupons</a></li><li><a href="http://www.gopromocodes.com/stores/bassproshops">bass pro shops promo codes</a></li><li><a href="http://www.gopromocodes.com/stores/coffeewholesaleusa">coffee wholesale usa coupon</a></li></ul></td><td><ul><li><a href="http://www.gopromocodes.com/stores/qualityinn">quality inn promo code</a></li><li><a href="http://www.gopromocodes.com/stores/roku">roku promo code</a></li><li><a href="http://www.gopromocodes.com/stores/adamandeve">adam &amp; eve promo codes</a></li><li><a href="http://www.gopromocodes.com/stores/lehighoutfitters">promo code for lehigh outfitters</a></li><li><a href="http://www.gopromocodes.com/stores/intuitquickbooks">intuit promotional code</a></li><li><a href="http://www.gopromocodes.com/stores/travelocity">promotional codes for Travelocity</a></li><li><a href="http://www.gopromocodes.com/stores/zappos">zappos promo codes</a></li><li><a href="http://www.gopromocodes.com/stores/designershoewarehouse">DSW shipping code</a></li></ul></td></tr></tbody></table></div>


	</div>
	<div class="four columns right-side-bar">
		<%= render partial: 'shared/sidebar' %>
	</div>
</div>