<div class="row main-content">
	<div class="eight columns coupon-list">
		<h2>Gardening Resources &amp; Tips for Beginner Gardeners</h2>
<p>Gardening is a relaxing hobby that all ages and skill levels can enjoy; whether it's through a small container garden on the back patio or an elaborate greenhouse setup, there is a garden for everyone. For those who are interested in growing their own food, it can also be a wonderful way to save money on groceries. Plants can be through multiple ways, including from seed, cuttings, and by purchasing seedlings from a nursery. Additionally, mature plants can be obtained; so, the wait for flowers and fruit doesn't take as long.</p>
<p><strong>Vegetable Gardens</strong></p>
<p>There are many types of vegetable plants that are very tolerant and can withstand the trial and error of a not-yet-green thumb. For example, zucchini and other plants in the nightshade family are hardy, fast growers that can be easily cultivated by the most inexperienced gardener. The most important thing to remember when planting vegetables and fruits, is that most are annual, meaning they need to be replanted each year. By planning out the sowing schedule ahead of time for the year, one can ensure a consistent harvest.</p>
<ul>
<li><a href="http://www.ces.ncsu.edu/depts/hort/hil/ag-06.html" target="_blank">Starting a Vegetable Garden </a></li>
<li><a href="http://ag.arizona.edu/maricopa/garden/html/pubs/0403/zucchini.html" target="_blank">How to Grow Zucchini</a></li>
<li><a href="http://urbanext.illinois.edu/veggies/basics.cfm" target="_blank">Tips for Growing a Vegetable Garden</a></li>
<li><a href="http://www.colostate.edu/Depts/CoopExt/4DMG/VegFruit/tomatind.htm" target="_blank">Growing Tomatoes Indoors</a></li>
</ul>
<p><strong>Flower Gardens</strong></p>
<p>One of the primary reasons people choose to plant flower gardens, is because they are aesthetically pleasing; however, few are aware that it's entirely possible to landscape a fully edible garden using a combination of ornamental flowers, vegetables and herbs. Of course, it's always important to ensure that all flowers varieties are edible and nontoxic before trying them, which is why it's helpful to have a good reference book, or an experienced gardening friend, around. In addition to their beauty, flowers also have the added benefit of attracting beneficial insects, like butterflies and moths.</p>
<ul>
<li><a href="http://www.finegardening.com/PlantGuide/PlantFinder.aspx?272=4" target="_blank">Plants that Attract Butterflies</a></li>
<li><a href="http://www.uaf.edu/files/ces/publications-db/catalog/anr/HGA-00137.pdf" target="_blank">Common Edible Flowers (PDF) </a></li>
<li><a href="http://pss.uvm.edu/ppp/articles/edible.html" target="_blank">Overview of Edible Flower Gardening </a></li>
<li><a href="http://www.unc.edu/%7Ewellsang/flowers.html" target="_blank">Flower Gardening Resources</a></li>
<li><a href="http://www.gardening.cornell.edu/homegardening/scene74a6.html" target="_blank">Designing a Flower Garden </a></li>
</ul>
<p><strong>Herb Gardens </strong></p>
<p>The best thing about starting an herb garden is that almost anyone can do it; most cooking herbs are very hardy plants that don't require a lot of space or tending. Herb gardens can be placed in window sills, in the garden with other plants, or used as decorative plants for walkways.</p>
<p>Some of the easiest herbs for beginner gardeners to grow include, but are not limited to, all varieties of basil, rosemary, mint, and dill. Before planting any herbs, it's important to learn how to preserve them for later use, the easiest of which is simply drying the leaves and then storing them in an airtight container. Many culinary herbs are self-sowing and will continue to sprout each year, even if the gardener does not intentionally plant them.</p>
<ul>
<li><a href="http://www.wvu.edu/%7Eagexten/hortcult/herbs/ne208hrb.htm" target="_blank">Introduction to Growing Herbs</a></li>
<li><a href="http://herbgardening.com/growingbasil.htm" target="_blank">How to Grow Basil</a></li>
<li><a href="http://extension.usu.edu/files/publications/publication/HG-524.pdf" target="_blank">Starting an Herb Container Garden (PDF) </a></li>
<li><a href="http://www.ces.ncsu.edu/depts/hort/hil/hil-8111.html" target="_blank">Harvesting Herbs from the Garden </a></li>
</ul>
<p><strong>Gardening for Kids </strong></p>
<p>Teaching children to garden is a wonderful way to introduce them to valuable life lessons, like the responsibility of caring for another life form. Starting plants from seeds is also a good way to demonstrate the plant life cycle. For example, bean plants are often used in lesson plans because the entire process, from sprouting to growing a strong root system, can be observed by placing the bean in a glass jar with water. Aside from beans, some of the easiest plants to show children how to grow include tomatoes, lettuce and hardy cooking herbs, like basil.</p>
<ul>
<li><a href="http://www.kidsgardening.org/node/120" target="_blank">Find Out How Kids Can Get Involved in Gardening</a></li>
<li><a href="http://gardeningsolutions.ifas.ufl.edu/giam/potpourri/gardening_with_kids/kid_garden.html" target="_blank">Gardening Projects and Resources for Kids</a></li>
<li><a href="http://mastergardener.osu.edu/pdf/youth.pdf" target="_blank">How to Teach Kids to Garden (PDF)</a></li>
</ul>
<p><strong>School Gardens</strong></p>
<p>Elementary schools and other teaching institutions often use gardening as a way to help teach young people the value of good nutrition and the plant life cycle. By starting early, kids have a head start when it comes to knowing how to best use seasonal vegetables and how to take care of plants so they produce the best yield; and they develop enthusiasm for eating well and nurturing their own edible garden. Carrots, beans and tomatoes are all commonly found in school gardens.</p>
<ul>
<li><a href="http://assoc.garden.org/" target="_blank">National Gardening Association</a></li>
<li><a href="http://www.realschoolgardens.org/" target="_blank">Get Involved in Creating a Learning Garden</a></li>
<li><a href="http://web3.cas.usf.edu/tbsg/benefitsofschoolgardening.aspx" target="_blank">Overview of the Benefits of School Gardening</a></li>
<li><a href="http://aggie-horticulture.tamu.edu/kindergarden/child/school/sgintro.htm" target="_blank">School Garden Resources </a></li>
</ul>
<p><strong>Urban Gardening </strong></p>
<p>Gardening is possible, regardless of where one lives, even if there isn't a backyard or enough space on the patio. Although container gardening is a very popular form of urban gardening, community gardens are also rising in popularity. A community garden is simply a group effort to sow a variety of vegetables, herbs, and other plants in a publically accessed plot of land. For example, sometimes these types of gardens are started in community parks.</p>
<ul>
<li><a href="http://www.d.umn.edu/sustain/land_water/edibles12.html" target="_blank">Edible Landscaping</a></li>
<li><a href="http://extension.oregonstate.edu/metro/urban-gardening" target="_blank">Urban Gardening Resources </a></li>
<li><a href="http://feeds.uwex.edu/about/startingacommunitygarden.cfm" target="_blank">How to Start a Community Garden</a></li>
<li><a href="http://aggie-horticulture.tamu.edu/kindergarden/child/com/commun.htm" target="_blank">Considerations to Make Before Starting a Community Garden</a></li>
</ul>
<p><strong>Eco-friendly Methods</strong></p>
<p>There are multiple methods of eco-friendly gardening. For example, organic gardening is one of the best ways to create a sustainable food supply and help the environment at the same time. Additionally, hydroponic gardening is also a good way to reduce one's footprint on the environment. Hydroponic growing of vegetables and cooking herbs can be accomplished in very limited space, with a few supplies. One of the easiest ways to create an eco-friendly garden is to also practice composting, which not only cuts down on waste, but also produces wonderful plant fertilizer.</p>
<ul>
<li><a href="http://www.organicgardening.com/" target="_blank">Learn How to Garden Organically </a></li>
<li><a href="https://edis.ifas.ufl.edu/vh030" target="_blank">Growing Vegetables Without Using Soil</a></li>
<li><a href="http://www.aces.edu/pubs/docs/A/ANR-1151/ANR-1151.pdf" target="_blank">Introduction to Hydroponic Gardening (PDF)</a></li>
<li><a href="http://www.caes.uga.edu/Publications/pubDetail.cfm?pk_id=7821" target="_blank">How to Plant an Environmentally Friendly Garden</a> &nbsp;</li>
</ul>
<p><strong>Additional GoPromoCodes.com Resources</strong></p>
<p>&nbsp;</p>
<ul>
<li><a href="http://www.gopromocodes.com/store/PetSmart.html">Free PetSmart Promo &amp; Coupon Codes for Great Deals</a></li>
<li><a href="http://www.gopromocodes.com/store/Zales.html">Zales.com Discounts &amp; Promotionals on Men&rsquo;s and Women&rsquo;s Jewelry</a></li>
<li><a href="http://www.gopromocodes.com/store/JibJab.html">Coupons &amp; Promotional Codes for Great Deals on JibJab eCards</a></li>
</ul>
<p><br />
By: <a href="http://www.gopromocodes.com/p/author-biography-zoe-stauss.html" rel="author">Zoe Stauss</a>

<div class="online-offers"><table><tbody><tr><th>Online Promo Codes</th><th>Online Coupon Codes</th><th>Online Discounts and Offers</th></tr><tr><td><ul><li><a href="http://www.gopromocodes.com/stores/attwireless">att promotion code</a></li><li><a href="http://www.gopromocodes.com/stores/target">target promo codes</a></li><li><a href="http://www.gopromocodes.com/stores/thewalkingcompany">the walking company promo codes</a></li><li><a href="http://www.gopromocodes.com/category/music">music promo codes</a></li><li><a href="http://www.gopromocodes.com/category/carrental">car rental promotional codes</a></li><li><a href="http://www.gopromocodes.com/stores/skinit">skinit promo codes</a></li><li><a href="http://www.gopromocodes.com/stores/bebe">bebe promo code</a></li></ul></td><td><ul><li><a href="http://www.gopromocodes.com/stores/birthdayexpress">birthday express coupon</a></li><li><a href="http://www.gopromocodes.com/stores/illy">illy coupon code</a></li><li><a href="http://www.gopromocodes.com/stores/gemvara">gemvara coupon code</a></li><li><a href="http://www.gopromocodes.com/stores/babyearth">babyearth coupon code</a></li><li><a href="http://www.gopromocodes.com/stores/tillys">promo codes for tillys</a></li><li><a href="http://www.gopromocodes.com/stores/cricketwireless">wireless promo codes</a></li><li><a href="http://www.gopromocodes.com/stores/vistaprint">vista print promotions</a></li></ul></td><td><ul><li><a href="http://www.gopromocodes.com/stores/personalcreations">promo code personal creations</a></li><li><a href="http://www.gopromocodes.com/stores/teleflora">promotion code teleflora</a></li><li><a href="http://www.gopromocodes.com/stores/zales">zales promotion codes</a></li><li><a href="http://www.gopromocodes.com/stores/thenorthface">northface promo code</a></li><li><a href="http://www.gopromocodes.com/stores/coach">promo code for coach</a></li><li><a href="http://www.gopromocodes.com/stores/designershoewarehouse">dsw code</a></li><li><a href="http://www.gopromocodes.com/stores/promgirl">promo codes for promgirl</a></li></ul></td></tr></tbody></table></div>

	</div>
	<div class="four columns right-side-bar">
		<%= render partial: 'shared/sidebar' %>
	</div>
</div>