<% title("Free Online Promo Codes & Coupons") %>
<% meta_tag('keywords', "deals, coupons, discounts, Promotional Codes, Promo Codes, Coupon Codes, Online Coupons, Online Deals") %>
<% meta_tag('description', "Free promo codes, coupons and discount codes for savings at over 3000 online stores like Target, Sears, 1800Flowers, Amazon & more!") %>
<% canonical(root_path) %>

<div class="row main-content">
	<div class="eight columns coupon-list">
		<div class="red-banner">
			<h1>Popular Promo Codes and Coupon Codes</h1>
		</div>
		<% @promo_codes.each do |promo_code| %>
			<%= render partial: 'shared/single_coupon', locals: {promo_code: promo_code} %>
		<% end %>
	</div>
	<div class="four columns right-side-bar">
		<%= render partial: 'shared/sidebar' %>
	</div>
</div>