<div class="row main-content">
	<div class="eight columns coupon-list">
		<div class="red-banner">
			<h1>Informative Articles</h1>
		</div>
			<p>Here in the United States, New Year’s Eve and New Year’s Day are major celebrations for us. They mark the end of the old year and the beginning of the new one. In other countries too, people celebrate the New Year but in rather different ways. Did you know that in some areas, the New Year is actually celebrated at different times of the year? Despite these differences, surprisingly, there are also many similarities in New Year’s customs across vastly different cultures. Let’s read some more about different ways of celebrating New Year’s Day in other places.</p>

						<p><b>Jewish New Year</b></p>

						<p>The Jewish New Year is known as Rosh Hashanah. It is an extremely holy day for Jews, which takes place in September or October. On this day, they mainly eat sweet foods as a symbol of wanting a new year that is full of sweetness. Another tradition is called
							<em>tashlikh</em>, where people throw a few crumbs into a river to represent casting away any sins of the previous year.
						</p>
						<ul class="article-list">
							<li>
								<a href="http://teacherlink.ed.usu.edu/tlresources/units/byrnes-celebrations/rosh.html" target="_blank">An Introduction to Rosh Hashanah</a>
							</li>
							<li>
								<a href="http://www.chabad.org/kids/article_cdo/aid/4752/jewish/Rosh-Hashanah.htm" target="_blank">What Happens on Rosh Hashanah?</a>
							</li>
						</ul>
						<p><b>Vietnamese Tet</b></p>

						<p>The Vietnamese word for New Year is
							<em>Tet</em>. It is celebrated for a full week, usually around the end of January or the beginning of February. To prepare for this important celebration, Vietnamese families clean their homes and even re-paint them, and buy new clothes. They celebrate with fireworks, loud gongs and music, gifts, and prayer.
						</p>
						<ul class="article-list">
							<li>
								<span style="text-decoration: underline;"><a href="http://www.vietnamonline.com/tet.html" target="_blank">Learn About the Vietnamese New Year</a></span>
							</li>
							<li>
								<a href="http://www.adoptvietnam.org/vietnamese/tet-ontario.htm" target="_blank">A Photographic Guide to Vietnamese Tet</a>
							</li>
						</ul>
						<p><b>Scottish New Year</b></p>

						<p>The Scots use the ancient word,
							<em>Hogmanay</em>, to mean New Year’s Eve and Day. On the evening before, they have a special feast with sweet breads or biscuits and wine. The Scots also clean their homes to get rid of dirt and also to ward off bad spirits. On New Year’s Day, they visit friends and family and have a large festive meal. In the morning, children go around to sing songs for the neighbors, and receive money or sweet treats in return!
						</p>
						<ul class="article-list">
							<li>
								<a href="http://www.fathertimes.net/scottishnewyear.htm" target="_blank">What Do Scots Do for New Year?</a>
							</li>
							<li>
								<a href="http://merganser.math.gvsu.edu/myth/hogmanay-12-97.html" target="_blank">How is Hogmanay Celebrated?</a>
							</li>
						</ul>
						<p><b>Persian New Year</b></p>

						<p>In Iran, New Year is called
							<em>Noruz</em>. The Iranians celebrate it on the day of the Spring Equinox, which is usually on or close to March 21. A major part of this celebration is a table of seven foods that each start with the letter
							<em>cinn</em>, or S in English. Each of these foods are representative of different good wishes for the new year.
						</p>
						<ul class="article-list">
							<li>
								<a href="http://parents.berkeley.edu/madar-pedar/newrooz.html" target="_blank">Symbolic Elements of Noruz</a>
							</li>
							<li>
								<a href="http://classes.colgate.edu/osafi/coreculture/noruz.htm" target="_blank">Noruz Food, Music, and Traditions</a>
							</li>
						</ul>
						<p><b>Chinese New Year</b></p>

						<p>The New Year celebration, or Spring Festival as it is called, is one of biggest holidays in China. As in other cultures, it involves a full cleaning of the house. The Chinese also hang up plenty of paper decorations that are colored red for good luck. On the evening before, they have a great family feast and light fireworks afterwards. The next day they exchange gifts; children usually receive red envelopes of money.</p>
						<ul class="article-list">
							<li>
								<a href="http://www.fcps.edu/KingsParkES/technology/newyear/index.htm" target="_blank">Try a Chinese New Year Webquest</a>
							</li>
							<li>
								<a href="http://www.ucis.pitt.edu/cipitt/class/powerpoint/ChineseNewYear.ppt" target="_blank">A Slideshow on Chinese New Year</a> (PPT)
							</li>
						</ul>
						<p><b>Japanese New Year</b></p>

						<p>In Japan too, New Year or
							<em>Shogatsu</em>, is a major holiday. The night before, people go to the temple to worship and pray that the following year will be happy and prosperous. Special food that has been prepared in advance is used for the main meal. On New Year’s morning, people go to the houses of family members and friends to celebrate and exchange gifts.
						</p>
						<ul class="article-list">
							<li>
								<a href="http://web-jpn.org/kidsweb/explore/calendar/january/gantan.html" target="_blank">Shogatsu in Japan</a>
							</li>
							<li>
								<a href="http://leo.stcloudstate.edu/kaleidoscope/volume4/newyear.html" target="_blank">Japanese New Year Celebrations</a>
							</li>
						</ul>
						<p><b>American New Year</b></p>

						<p>In North America, the New Year is celebrated with plenty of fanfare. It is usually customary to have a festive dinner with family or close friends on New Year’s Eve. Following this, people usually attend a loud, boisterous party. Everyone counts down at midnight. On the stroke of twelve, people wish each other a Happy New Year and adults toast with champagne. The next day is usually a bit quieter and might be celebrated with a visit to church and a special family meal.</p>
						<ul class="article-list">
							<li>
								<a href="http://www.happywink.org/newyearfestival/new-year-in-us.html" target="_blank">U.S. New Year Traditions</a>
							</li>
							<li>
								<a href="http://www.smithfield.com/articles/article/new-years-traditions" target="_blank">American New Year Customs and Food</a>
							</li>
						</ul>
						<p><b>Islamic New Year</b></p>

						<p>In most Islamic countries, the New Year celebration (called Al-Hijra) is much more low-key. Muslims do not celebrate the New Year much. However, they might mark it by setting some New Year Resolutions for themselves. This does vary by region though; for example, in Egypt, New Year is far more festive and loud!</p>
						<ul class="article-list">
							<li>
								<a href="http://library.geneseo.edu/%7Edresbach/ClassWebpages/HolidayWebsites/Egypt/Islamicnewyear.htm" target="_blank">Islamic New Year in Egypt</a>
							</li>
							<li>
								<a href="http://www.bbc.co.uk/religion/religions/islam/holydays/alhijra.shtml" target="_blank">Traditions of Al-Hijra</a>
							</li>
						</ul>
						<p><b>Austrian New Year</b></p>

						<p>New Year in Austria is called
							<em>Sylvesterabend</em>. It is named after Saint Sylvester. According to myths, he slew an enormous dragon. At this time of the year, people celebrate with champagne toasts, decorations in homes, and confetti at parties. They go to church at midnight to give thanks and pray. Large cities also have a fireworks display and a major concert.
						</p>
						<ul class="article-list">
							<li>
								<a href="http://www.tartanplace.com/newyear/newyrcustom/austria.html" target="_blank">New Years in Austria</a>
							</li>
							<li>
								<a href="http://www.novareinna.com/festive/atw.html#1" target="_blank">The Legend of Sylvesterabend</a>
							</li>
						</ul>
						<p><b>Hispanic New Year</b></p>

						<p>Hispanic New Year’s celebrations vary by country. In Spain it is known as
							<em>Nochevieja.</em> People wait to hear the church chimes in the public square, and at midnight they each eat twelve grapes to symbolize each chime. On the other hand, in Mexico, people light a colored candle, with the color symbolizing what they hope for in the New Year.
						</p>
						<ul class="article-list">
							<li>
								<a href="http://www.ctspanish.com/christmas/grapes.htm" target="_blank">Traditions of Nochevieja</a>
							</li>
							<li>
								<a href="http://www.mexicoinsmallbytes.com/january2.html" target="_blank">Mexican New Years Customs</a>
							</li>
						</ul>
						<p><b>Additional Resources</b></p>
						<ul class="article-list">
							<li>
								<a href="http://ted.coe.wayne.edu/sse/units/newyr.htm" target="_blank">International New Year Celebrations Lesson Plan</a>
							</li>
							<li>
								<a href="http://www3.kumc.edu/diversity/national/newyear.html" target="_blank">General Information About New Year’s Day</a>
							</li>
							<li>
								<a href="http://www.health.harvard.edu/press_releases/new_years_resolutions" target="_blank">How to Stick to New Year’s Resolutions</a>
							</li>
							<li>
								<a href="http://www.aap.org/en-us/about-the-aap/aap-press-room/news-features-and-safety-tips/pages/Healthy-New-Year-Resolutions-for-Kids.aspx?nfstatus=401&nftoken=00000000-0000-0000-0000-000000000000&nfstatusdescription=ERROR%3a+No+local+token" target="_blank">New Years Resolutions for Kids</a>
							</li>
							<li>
								<a href="http://www.daniellesplace.com/html/new_years.html" target="_blank">New Year’s Day Activity Sheets for Kids</a>
							</li>
							<li>
								<a href="http://www.crayola.com/coloring-pages/new-years-eve.aspx" target="_blank">Download a New Year’s Coloring Page</a>
							</li>
							<li>
								<a href="http://www.russell.k12.va.us/itrt/Elementary%20Schoool%20Resources/SEASONAL%20MAIN.htm" target="_blank">Fun New Year’s Day Resources</a>
							</li>
							<li>
								<a href="http://www.sunniebunniezz.com/holiday/newyear2.htm" target="_blank">What is New Year’s Day About?</a>
							</li>
							<li>
								<a href="http://www.bluefieldstate.edu/syllabus/ENGL%20302/AuldLangSyne.html" target="_blank">Learn the Lyrics to Auld Lang Syne</a>
							</li>
							<li>
								<a href="http://www.brainpop.com/socialstudies/culture/newyears/preview.weml" target="_blank">Watch a Movie about New Year Customs</a>
							</li>
						</ul><br><br>
By: <a href="http://www.gopromocodes.com/p/author-biography-zoe-stauss.html" rel="author">Zoe Stauss</a>

<div class="online-offers"><table><tbody><tr><th>Online Promo Codes</th><th>Online Coupon Codes</th><th>Online Discounts and Offers</th></tr><tr><td><ul><li><a href="http://www.gopromocodes.com/stores/nuance.html">nuance promotional code</a></li><li><a href="http://www.gopromocodes.com/stores/iskin">iskin promo code</a></li><li><a href="http://www.gopromocodes.com/stores/citysightsny">city sights new york promotional code</a></li><li><a href="http://www.gopromocodes.com/stores/holidayinnexpress">holiday inn express promo code</a></li><li><a href="http://www.gopromocodes.com/stores/autotrader">autotrader promo code</a></li><li><a href="http://www.gopromocodes.com/stores/bestbuy">best buy promo code</a></li><li><a href="http://www.gopromocodes.com/stores/sears">sears promo code</a></li><li><a href="http://www.gopromocodes.com/stores/starbucks">starbucks promo code</a></li></ul></td><td><ul><li><a href="http://www.gopromocodes.com/stores/lenox">lenox promo code</a></li><li><a href="http://www.gopromocodes.com/stores/giggle">giggle promotional code</a></li><li><a href="http://www.gopromocodes.com/stores/ftd">ftd coupon codes</a></li><li><a href="http://www.gopromocodes.com/stores/getzs">getzs promo code</a></li><li><a href="http://www.gopromocodes.com/stores/audible">audible promotional code</a></li><li><a href="http://www.gopromocodes.com/stores/123refills">123 refills coupon codes</a></li><li><a href="http://www.gopromocodes.com/stores/bootbay">bootbay coupon code</a></li><li><a href="http://www.gopromocodes.com/stores/thenerds">the nerds coupon code</a></li></ul></td><td><ul><li><a href="http://www.gopromocodes.com/stores/zales">promotional codes for zales</a></li><li><a href="http://www.gopromocodes.com/stores/adamandeve">adam and eve codes</a></li><li><a href="http://www.gopromocodes.com/stores/promgirl">promo codes for prom girl</a></li><li><a href="http://www.gopromocodes.com/stores/thenorthFface">the north face promo codes</a></li><li><a href="http://www.gopromocodes.com/stores/art-com">art.com promo code</a></li><li><a href="http://www.gopromocodes.com/stores/travelocity">american express travelocity promo code</a></li><li><a href="http://www.gopromocodes.com/stores/designershoewarehouse">dsw promotion code</a></li><li><a href="http://www.gopromocodes.com/stores/coach">coach online promo code</a></li></ul></td></tr></tbody></table></div> 
	</div>
	<div class="four columns right-side-bar">
		<%= render partial: 'shared/sidebar' %>
	</div>
</div>