<div class="row main-content">
	<div class="eight columns coupon-list">
		<p><strong>Tyler Stauss</strong> started GoPromoCodes.com with his sister in August of 2009. He has been working in online coupons since 2007 and has a passion for saving money and finding the absolute best deal. He tries to keep these promo code pages as up to date as possible but appreciates any help from users submitting coupons!</p>
<p>Check out his&nbsp;<a title="Google+" href="https://plus.google.com/114616733302009885635/" target="_blank">Google+</a>&nbsp;profile!</p>
<p>&nbsp;</p>
<p><strong>Favorite Stores:</strong></p>
<p><a href="http://www.gopromocodes.com/stores/eastbay">Eastbay</a>,&nbsp;<a href="http://www.gopromocodes.com/stores/travelocity">Travelocity</a>, <a href="http://www.gopromocodes.com/stores/nbastore">NBA Store</a>, <a href="http://www.gopromocodes.com/stores/nflshop">NFL Shop</a>, <a href="http://www.gopromocodes.com/stores/shoes-com">Shoes.com</a></p>
<p>&nbsp;</p>
<p><strong>Hobbies and Interests:</strong></p>
<p>Tyler enjoys all sports as evidenced by his favorite stores above. He also likes to travel, having already stepped foot on all 7 continents in the world. He enjoys TV, movies, books, the beach and relaxing. </p>
	</div>
	<div class="four columns right-side-bar">
		<%= render partial: 'shared/sidebar' %>
	</div>
</div>

