<div class="row main-content">
	<div class="eight columns coupon-list">
		<p>
<table style="font-family: Times; font-size: medium;" border="0" cellspacing="0" cellpadding="0" width="100%">
<tbody>
<tr>
<td class="wboxbg padall10" style="background-color: #ffffff; font: normal normal normal 13px/normal MyriadProRegular; color: #2b2b2b; line-height: 18px; padding: 10px;">
<p style="padding: 0px; margin: 0px;"><strong>Zoe Stauss</strong>&nbsp;has been writing for her entire life. She writes about all topics, including helping people save money. She has bee writing informative articles for GoPromoCodes.com on a number of subjects since November 2012. Check out her <a rel="me" href="https://plus.google.com/u/0/100478444162652257250">Google+</a> profile.</p>
<p style="padding: 0px; margin: 0px;">&nbsp;</p>
<p style="padding: 0px; margin: 0px;"><strong>Favorite Stores:</strong></p>
<p style="padding: 0px; margin: 0px;"><a href="http://wwww.gopromocodes.com/stores/starbucks">Starbucks</a>, <a href="http://wwww.gopromocodes.com/stores/macys">Macys</a>, <a href="http://wwww.gopromocodes.com/stores/zappos">Zappos</a>, <a href="http://wwww.gopromocodes.com/stores/bananarepublic">Banana Republic</a>, <a href="http://wwww.gopromocodes.com/stores/jibjab">JibJab</a></p>
<p style="padding: 0px; margin: 0px;">&nbsp;</p>
<p style="padding: 0px; margin: 0px;"><strong>Hobbies and Interests:</strong></p>
<p style="padding: 0px; margin: 0px;">Zoe enjoys reading, getting massages, going for long runs, yoga, shopping and doing do it yourself arts and crafts. She has grown into a very frugal shopper thanks to the coupons she finds at GoPromoCodes.com.</p>
<p style="padding: 0px; margin: 0px;">&nbsp;</p>
<p style="padding: 0px; margin: 0px;"><strong>Articles by Zoe:</strong></p>
<ul class="article-list">
<li><a title="New Year's Traditions Around the World" href="http://www.gopromocodes.com/new-years-traditions">New Year's Traditions Around the World</a></li>
<li><a title="A Guide to Buying Fair Trade" href="http://www.gopromocodes.com/buying-fair-trade">A Guide to Buying Fair Trade</a></li>
<li><a href="http://wwww.gopromocodes.com/stores/straighttalk" target="_blank">Straight Talk Promo Code</a></li>
<li><a title="Gardening Tips and Resources" href="http://www.gopromocodes.com/gardening-tips-and-resources">Gardening Tips and Resources</a></li>
<li><a title="Online Learning Games" href="http://www.gopromocodes.com/online-learning-games">Online Learning Games</a></li>
<li><a href="http://wwww.gopromocodes.com/stores/travelocity" target="_blank">Travelocity Promotion Codes</a></li>
<li><a href="http://wwww.gopromocodes.com/stores/zales" target="_blank">Zales Promo Codes</a></li>
<li><a title="Free Clip Art Resources" href="http://www.gopromocodes.com/clip-art-resources">Free Clip Art Resources</a></li>
<li> <a title="advancements in home entertainment lead to healthier lives" href="http://www.gopromocodes.com/advancements-in-home-entertainment-healthier-lives">Advancements in Home Entertainment Healthier Lives</a></li>
<li> <a title="how cell phones are changing our lives" href="http://www.gopromocodes.com/how-cell-phones-are-changing-our-lives">How Cell Phones Are Changing Our Lives</a></li>
<li><a href="http://wwww.gopromocodes.com/stores/petsmart" target="_blank">Promo Codes for Petsmart.com</a></li>
<li> <a title="photography resources" href="http://www.gopromocodes.com/photography-resources">Photography Resources</a></li>
<li> <a title="keyboarding resources for your computer" href="http://www.gopromocodes.com/keyboarding-resources-for-your-computer">Keyboarding Resources for Your Computer</a></li>
<li><a href="http://wwww.gopromocodes.com/stores/jibjab" target="_blank">JibJab Promotion Codes</a></li>
<li><a href="http://www.gopromocodes.com/classic-books-on-sat-reading-list" target="_blank">Classic Books on SAT Reading List</a></li>
</ul>
<p style="padding: 0px; margin: 0px;">&nbsp;</p>
</td>
</tr>
<tr>
<td class="wboxbg padall10" style="background-color: #ffffff; font: normal normal normal 13px/normal MyriadProRegular; color: #2b2b2b; line-height: 18px; padding: 10px;"><br /></td>
</tr>
</tbody>
</table>
</p>
	</div>
	<div class="four columns right-side-bar">
		<%= render partial: 'shared/sidebar' %>
	</div>
</div>

