<div class="row main-content">
	<div class="eight columns">
	<div class="red-banner"> 
		<h1>Ooops! That's not supposed to happen!</h1>
	</div>
</div>

<div class="four columns right-side-bar">
	<div class="side-bar-element">
		<h2>Top Stores</h2>
		<table>
			<tbody>
				<tr>
					<td><a href="/stores/attwireless">AT&amp;T Wireless</a></td>
					<td><a href="/stores/thenorthface">The North Face</a></td>
				</tr>
				<tr>
					<td><a href="/stores/1800flowers">1800Flowers.com</a></td>
					<td><a href="/stores/orbitz">Orbitz</a></td>
				</tr>
				<tr>
					<td><a href="/stores/sears">Sears</a></td>
					<td><a href="/stores/48hourprint">48HourPrint</a></td>
				</tr>
				<tr>
					<td><a href="/stores/petsmart">PetSmart</a></td>
					<td><a href="/stores/jibjab">JibJab</a></td>
				</tr>
				<tr>
					<td><a href="/stores/travelocity">Travelocity</a></td>
					<td><a href="/stores/target">Target</a></td>
				</tr>
				<tr>
					<td><a href="/stores/zales">Zales</a></td>
					<td><a href="/stores/straighttalk">Straight Talk</a></td>
				</tr>
			</tbody>
		</table>
	</div>	
		
	<div class="side-bar-element">
		<h2 >Categories</h2>
		<ul>
				<li><a href="/categories/auto">Auto</a></li>
				<li><a href="/categories/baby-kids">Baby &amp; Kids</a></li>
				<li><a href="/categories/beauty">Beauty</a></li>
				<li><a href="/categories/books">Books</a></li>
				<li><a href="/categories/cell-phones">Cell Phones</a></li>
				<li><a href="/categories/computers">Computers</a></li>
				<li><a href="/categories/education">Education</a></li>
				<li><a href="/categories/electronics">Electronics</a></li>
				<li><a href="/categories/entertainment">Entertainment</a></li>
				<li><a href="/categories/exclusivepromotions">*Exclusive Codes*</a></li>
				<li><a href="/categories/expiredcodes">Expired Codes</a></li>
				<li><a href="/categories/flowers-gifts">Flowers &amp; Gifts</a></li>
				<li><a href="/categories/food">Food</a></li>
				<li><a href="/categories/health">Health</a></li>
				<li><a href="/categories/homegarden">Home &amp; Garden</a></li>
				<li><a href="/categories/jewelrywatches">Jewelry &amp; Watches</a></li>
				<li><a href="/categories/men">Men</a></li>
				<li><a href="/categories/music">Music</a></li>
				<li><a href="/categories/officebusiness">Office &amp; Business</a></li>
				<li><a href="/categories/pets">Pets</a></li>
				<li><a href="/categories/photo-art">Photo &amp; Art</a></li>
				<li><a href="/categories/computer-software">Software</a></li>
				<li><a href="/categories/-holidays-">*Special*</a></li>
				<li><a href="/categories/sports">Sports</a></li>
				<li><a href="/categories/travel">Travel</a></li>
				<li><a href="/categories/women">Women</a></li>
			</ul>
	</div> 
	</div>
</div>
