<div class="row main-content">
	<div class="eight columns coupon-list">
		<%= @subscriber.email %>
	</div>
	<div class="four columns right-side-bar">
		<%= render partial: 'shared/sidebar' %>
	</div>
</div>

