/*  HEADER */

#logo {
	margin: 20px; 
}

#search-bar {
	margin: 20px;
}

form#search-bar input[type=text] {
	min-width: 300px;
}

div#blue-banner {
	background: blue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-90deg, #25475a, #34637f, #25475a); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #25475a, #34637f, #25475a); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #25475a, #34637f, #25475a); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, #25475a, #34637f, #25475a); /* Standard syntax */
	border-top-left-radius: 0.3em;
	border-top-right-radius: 0.3em;
}

div#blue-banner h3 {
	color: #fff;
	font:32px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#fff; padding:10px 0; text-shadow:0 -1px 0 #000;
	text-align: center;
}
div#blue-banner h3 span.highlight {
	color: #abe1fa;
}

#top-menu {
	background-color: #25475a;
	min-height: 35px;

}

#top-menu div.menu-item {
	margin: 5px;
	text-align: center;
}

#top-menu div#hover {
	background-color:#1a3748;
}

#top-menu div a {
	font:15px 'MyriadProRegular'; 
	color:#fff; 
	text-decoration:none;
}

/*  HOMEPAGE  */

div.homepage-content {
	/*margin: 10px;*/
}