<% title("Free Online Promo Codes By Category") %>
<% meta_tag('keywords', "categories, verticals, coupons, discounts, Promotional Codes, Promo Codes, Coupon Codes, Online Coupons") %>
<% meta_tag('description', "Find free promo codes and online discount codes by category!") %>
<% canonical(categories_path) %>
<div class="row main-content">
	<div class="eight columns">
		<div class="red-banner">
			<h1>Promo Codes by Category</h1>
		</div>
		
		<ul class='single-coupon'>
		<% @categories.each do |category| %>
			<li><%= link_to category.name, category_path(category) %></li>
		<% end %>
		</ul>
	</div>
	<div class="four columns right-side-bar">
		<%= render partial: 'shared/sidebar' %>
	</div>
</div>