<div class="row main-content">
	<div class="eight columns">
		<div class="red-banner">
			<h1>Promo Codes by Category</h1>
		</div>
		
		<ul class='single-coupon'>
		<% @categories.each do |category| %>
			<li><%= link_to category.name, category_path(category) %></li>
		<% end %>
		</ul>
	</div>
		<div class="four columns right-side-bar">
		<%= render partial: 'shared/top_stores', locals: {
			top_stores: @top_stores 
		} %>	
		<%= render partial: 'shared/email_signup' %>
		<%= render partial: 'shared/categories', locals: {
			categories: @categories 
		} %>
	</div>
</div>