<div class="row main-content">
	<div class="eight columns">
		<div class="red-banner">
			<h1>Promo Codes by Category</h1>
		</div>
		
		<ul class='single-coupon'>
		<% @categories.each do |category| %>
			<li><%= link_to category.name, category_path(category) %></li>
		<% end %>
		</ul>
	</div>
	<div class="four columns right-side-bar">
		<%= render partial: 'shared/sidebar' %>
	</div>
</div>